@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---Inicio de la Sección 1---*/
.section1{
    background-image: 
    url(https://images.unsplash.com/photo-1619881589316-56c7f9e6b587?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.225);
}

.logo-img{
    padding: 20px 50px;
    width: 120px;
    cursor: pointer;
}

.menu{
    padding: 20px 0;
}

.links{
    padding: 63px 20px;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto';
    transition: all .4s ease;
}

.links:hover{
    background-color: #E53935;
}

.principal__container-text{
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 2.5rem;
    font-family: 'Poppins';
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: start;
}

p{
    text-align: justify;
    display: flex;
    justify-content: start;
    width: 700px;
    font-size: 1.5rem;
    line-height: 35px;
    color: #fff;
    font-weight: bold;
    font-family: 'Poppins';
} 

.button{
    margin: 70px 0;
}

button{
    width: 20%;
    padding: 15px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: #E74C3C;
    font-weight: bold;
    color: #fff;
    font-size: 1.4rem;
    transition: all .3s ease-in-out;
    font-family: 'Roboto';
}

button:hover{
    background-color: #fff;
    color: #E74C3C;
}

/*---Fin de la Sección 1---*/


/*---Inicio de la Sección 2---*/
.section2{
    background-color: #E53935;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.container__logo-img{
    margin-top: 100px;
    width: 700px;
    cursor: pointer;
}

.container__title{
    padding: 20px;
}

.container__title-h2{
    border-top: 1px solid #000;
    border-radius: 3px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    font-family: 'Poppins';
    display: flex;
    justify-content: start;
}

.container__text{
    margin-top: 50px;
}

.container__text-p{
    text-align: justify;
    display: flex;
    justify-content: start;
    width: 700px;
    font-size: 1.5rem;
    line-height: 35px;
    color: #fff;
    font-weight: bold;
    font-family: 'Poppins';
}

.container__text-button{
    margin-top: 50px;
}

.container__text-btn{
    border: none;
    background-color: #fff;
    width: 50%;
    color: #E53935;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Roboto';
    transition: all .3s ease-in-out;
}

.container__text-btn:hover{
    background-color: #283747;
    color: #fff;
}

/*---Fin de la Sección 2---*/

/*---Inicio de la Sección 2---*/
.section3{
    background-color: #FFCC99;
    width: 100%;
    height: 100vh;
    margin-top: -40px;
}

.section3__container-title{
    padding: 20px;
}

.section3__container-titleh2{
    width: 1100px;
    letter-spacing: 5px;
    margin: 20px auto 0px;
    border-radius: 5px;
    background-color: #E53935;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Poppins';
    color: #fff;
}

.section3__container-txt{
    padding: 20px;
}

.section3__container-p{
    border-top: 1px solid #000;
    border-radius: 3px;
    text-align: justify;
    width: 800px;
    color: #283747;
}

.section3__container-images{
    display: flex;
    justify-content: space-around;
}

.section3__container-images-img1{
    background-color: #fff;
    padding: 2rem;
    height: 400px;
    border-radius: 10px;
}

.image1{
    width: 300px;
    height: 200px;
    border-radius: 5px;
    cursor: pointer;
}

.button__image-img1{
    width: 100%;
    padding: 15px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: #E74C3C;
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
    font-family: 'Roboto';
}

.button__image-img1:hover{
    background-color: #283747;
    color: #fff;
}

.section3__container-images-img1-p{
    color: #000;
    font-size: 1rem;
    width: 300px;
    letter-spacing: normal;
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins';
}

.section3__container-images-img2{
    background-color: #fff;
    padding: 2rem;
    height: 400px;
    border-radius: 10px;
}

.image2{
    width: 300px;
    height: 250px;
    border-radius: 5px;
    cursor: pointer;
}

.button__image-img2{
    width: 100%;
    padding: 15px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: #E74C3C;
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
    font-family: 'Roboto';
}

.button__image-img2:hover{
    background-color: #283747;
    color: #fff;
}

.section3__container-images-img2-p{
    color: #000;
    font-size: 1rem;
    width: 300px;
    letter-spacing: normal;
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins';
}

.section3__container-images-img3{
    background-color: #fff;
    padding: 2rem;
    height: 400px;
    border-radius: 10px;
}

.image3{
    width: 300px;
    height: 220px;
    border-radius: 5px;
    cursor: pointer;
}

.section3__container-images-img3-p{
    color: #000;
    font-size: 1rem;
    width: 300px;
    letter-spacing: normal;
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins';
}

.button__image-img3{
    width: 100%;
    padding: 15px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: #E74C3C;
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
    font-family: 'Roboto';
}

.button__image-img3:hover{
    background-color: #283747;
    color: #fff;
}

/*---Fin de la Sección 3---*/

/*---Inicio de la Sección 4---*/
