@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@300&family=Open+Sans:wght@300&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .5);
    border-bottom: 3px solid #000;
}

.header-title{
    padding: 15px;
    font-family: 'Anuphan';
    font-size: 2.5rem;
    color: #34495E;
}

.ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.links{
    
    text-decoration: none;
}

.lista{
    list-style: none;
    font-family: 'Poppins';
    color: #8E44AD;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px 15px;
    /* border-radius: 20px; */
}

.lista:hover{
    border-top: 3px solid #58D68D;
    color: #34495E;
}

.section1__container{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-image: linear-gradient(#0F2027, #203A43, #2C5364);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* background-image: url(https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.section1__container-title{
    color: #fff;
    margin: 80px auto;
}

.section1-title{
    font-family: 'Poppins';
    font-size: 2.5rem;
    font-weight: bold;
    padding: 10px;
    border-top: 4px solid #58D68D;
}

.section1-title-parrafo{
    width: 600px;
    padding: 10px;
    font-family: 'Anuphan';
    font-size: 25px;
    text-align: justify;
    font-weight: 500;
    line-height: 35px;
    text-transform: capitalize;
}

.section1__container-button{
    width: 100%;
    margin-top: 30px;
}

.section1-links{
    background-color: #8E44AD;
    border:3px solid #8E44AD;
    color: #fff;
    border-radius: 5px;
    padding: 5px 15px;
    font-family: 'Roboto';
    font-size: 1.5rem;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.section1-links:hover{
    border: 3px solid #8E44AD;
    background-color: #fff;
    color: #8E44AD;
}

.section1-links2{
    margin-left: 50px;
    color: #fff;
    border: 3px solid #58D68D;
    background-color: #58D68D;
    border-radius: 5px;
    padding: 5px 15px;
    font-family: 'Roboto';
    font-size: 1.5rem;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.section1-links2:hover{
    background-color: #fff;
    color: #58D68D;
    border: 3px solid #58D68D;
}

.section1__container-img{
    padding: 10px;
}

.person-img{
    width: 400px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 50px;
    cursor: pointer;
}

.section1-wave{
    width: 100%;
    height: 100px;
    position: relative;
}

.wave{
    width: 100%;
    position: absolute;
    margin-top: -150px; 
}
